<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="CareerClubContactReportApplication.Properties.Settings.CCCReportConnectionString"
      connectionString="Data Source=.\SQLEXPRESS2014;AttachDbFilename=C:\Users\akaplun\Source\Repos\ProjectPRG299DB\WindowsFormsApplication1\PRG299DB.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>